<h3>Municipality API report for municipality: <%= Municipality%></h3>
<p>The following features have been rejected and have not been updated in Digiroad:</p>
<% var created = Body.Created.filter( feature => feature.properties.DR_REJECTED) %>
<% var deleted = Body.Deleted.filter( feature => feature.properties.DR_REJECTED) %>
<% var updated = Body.Updated.filter( feature => feature.properties.DR_REJECTED) %>
<h4>Created:</h4>
<table style="border: 1px solid darkgray; padding: 5px;">
  <% created.forEach(function(feature){ %>
  <tr>
    <td style="font-weight: bold; padding-right: 10px;"></td>
    <td> ID: <%=feature.properties.ID %> offset: <%=feature.properties.DR_OFFSET %></td>
  </tr>
  <% }) %>
</table>
<h4>Deleted:</h4>
<table style="border: 1px solid darkgray; padding: 5px;">
  <% deleted.forEach(function(feature){ %>
  <tr>
    <td style="font-weight: bold; padding-right: 10px;"></td>
    <td> ID: <%=feature.properties.ID %> offset: <%=feature.properties.DR_OFFSET %></td>
  </tr>
  <% }) %>
</table>
<h4>Updated:</h4>
<table style="border: 1px solid darkgray; padding: 5px;">
  <% updated.forEach(function(feature){ %>
  <tr>
    <td style="font-weight: bold; padding-right: 10px;"></td>
    <td> ID: <%=feature.properties.ID %> offset: <%=feature.properties.DR_OFFSET %></td>
  </tr>
  <% }) %>
</table>
<p>Max allowed offset from the center of the Digiroad Link: <%= Body.metadata.OFFSET_LIMIT %> </p>