<% var municipalityCapitalized = Municipality.charAt(0).toUpperCase() + Municipality.slice(1)%>
<h3>Kuntarajapinta-raportti: <%= municipalityCapitalized%></h3>
<p>
</p>
<p>Tietolajin tyyppi: <%=assetType %></p>
<p><%=rejectsAmount %>/<%=assetsAmount %> kohdetta hylätty. (Uudet sekä päivitetyt)</p>
<p> <%=deletedAmount %> kohdetta poistettu </p>
<p>Tarkista lokit s3:sesta, "logs/<%=Municipality%>/<%=now %>"</p>