<% var municipalityCapitalized = Municipality.charAt(0).toUpperCase() + Municipality.slice(1)%>
<h3>Kuntarajapinta-raportti: <%= municipalityCapitalized%></h3>
<p>
</p>
<p>Tietolajin tyyppi: <%=Body.assetType %></p>
<p><%=Body.rejectsAmount %>/<%=Body.assetsAmount %> kohdetta hylätty. (Uudet sekä päivitetyt)</p>
<p> <%=Body.deletedAmount %> kohdetta poistettu </p>
<p>Tarkista lokit s3:sesta, "logs/<%=Municipality%>/<%=Body.now %>"</p>