<% var created=Body.Created.filter( feature=> feature.properties.DR_REJECTED) %>
<% var updated=Body.Updated.filter( feature=> feature.properties.DR_REJECTED) %>
<% var totalFailed = created.length  + updated.length %>
<% var total = Body.Created.length + Body.Updated.length %>
<% var municipalityCapitalized = Municipality.charAt(0).toUpperCase() + Municipality.slice(1)%>
<h3>Kuntarajapinta-raportti: <%= municipalityCapitalized%>:</h3>
<% if (recipients.length <= 1) { %>
<h6> HUOM: Kunnan sähköpostia ei löytynyt. Tämä sähköposti on lähetetty vain operaattorille.</h6>
<% } %>
<p>
  Suurin sallittu etäisyys tielinkistä: <%=Body.metadata.OFFSET_LIMIT %> metriä.
</p>
<p>
  Etäisyys tielinkistä >20m tarkoittaa että sopivaa tielinkkiä ei löytynyt ~20 metrin säteellä.
  Valtion hallinnoimia tielinkkejä ei oteta huomioon.
</p>
<p><%=totalFailed %>/<%=total %> kohdetta hylätty.</p>
<p>
  Seuraavat kohteet hylättiin, eikä niitä lisätty Digiroadiin:
</p>
<p>--------------------------------------------------------------------------------------------</p>
<h3>Municipality API report for municipality: <%= municipalityCapitalized%></h3>
<% if (recipients.length <= 1) { %>
<h6> NOTE: No email address found for municipality. This email is only sent to the operator.</h6>
<% } %>
<p>
  Maximum allowed offset from the center of the Digiroad Link: <%=Body.metadata.OFFSET_LIMIT %> meters.
</p>
<p>
  Offset >20m means that no applicable roadlink was found in a ~20 meter radius.
  Government managed roadlinks are not taken into account.
</p>
<p><%=totalFailed %>/<%=total %> features failed.</p>
<p>
  The following features have been rejected and have not been updated in Digiroad:
</p>
<table style="font-family: arial, sans-serif;
border-collapse: collapse;
width: 100%;">
  <% if(created.length > 0) { %>
  <tr>
    <th colspan=2 style="text-align: center;
    padding: 8px;">Lisätyt / Created</th>
  </tr>
  <tr>
    <th style="border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;width: 50%;">ID</th>
    <th style="border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;width: 50%;">Offset</th>
  </tr>
  <% created.forEach(function(feature, index){ %>
  <% if (index % 2 === 0) { %>
  <tr>
    <td style="border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;width: 50%;"><%=feature.properties.ID %></td>
    <td style="border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;width: 50%;"><%= feature.properties.DR_OFFSET ? `${feature.properties.DR_OFFSET.toFixed(2)} meters` : ">20 m" %> </td>
  </tr>
  <% } else { %>
  <tr style="background-color: #dddddd;">
    <td style="border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;width: 50%;"><%=feature.properties.ID %></td>
    <td style="border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;width: 50%;"><%= feature.properties.DR_OFFSET ? `${feature.properties.DR_OFFSET.toFixed(2)} meters` : ">20 m" %> </td>
  </tr>
  <% }}) %>
  <% } %>
  <% if(updated.length > 0) { %>
  <tr>
    <th colspan=2 style="text-align: center;
      padding: 8px;">Päivitetyt / Updated</th>
  </tr>
  <tr>
    <th style="border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;width: 50%;">ID</th>
    <th style="border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;width: 50%;">Etäisyys tielinkistä / Offset</th>
  </tr>
  <% updated.forEach(function(feature, index){ %>
  <% if (index % 2 === 0) { %>
  <tr>
    <td style="border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;width: 50%;"><%=feature.properties.ID %></td>
    <td style="border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;width: 50%;"><%= feature.properties.DR_OFFSET ? `${feature.properties.DR_OFFSET.toFixed(2)} m` : ">20 m"%> </td>
  </tr>
  <% } else { %>
  <tr style="background-color: #dddddd;">
    <td style="border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;width: 50%;"><%=feature.properties.ID %></td>
    <td style="border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;width: 50%;"><%= feature.properties.DR_OFFSET ? `${feature.properties.DR_OFFSET.toFixed(2)} m` : ">20 m"%> </td>
  </tr>
  <% }}) %>
  <% } %>
</table>